
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
:root {
  --color-primary: #1f4068;
  --color-terceary: #4caf50;
  --color-sencudary: #525252;
  --color-quartyary: #f5f5f5;
  --font-text: "Roboto", sans-serif;
  --font-title: "Lato", sans-serif;
}
@font-face {
  font-family: "font-title";
  src: url("../assets/fonts/Rostley_PERSONAL_USE_ONLY.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-text);
}
header {
  width: 100vw;
  height: 100px;
  display: flex;
  background-color: var(--color-sencudary);
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
header > h3 > span {
  font-family: "font-title";
  background-image: linear-gradient(
    to right,
    var(--color-terceary),
    var(--color-primary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bolder;
}
header > nav > a {
  all: unset;
  color: #f5f5f5;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --color-primary:#e0e1dd;
    --color-secondary:#778da9;
    --color-tertiary:#415a77;
    --color-quaternary:#1b263b;
    --color-quinary:#0d1b2a;
    --font-title:'Gotika';
    --font-text:'Poppins', sans-serif;;
}
@font-face {
    font-family: 'Gotika';
    src: url(../assets/fonts/GotikaStrict_PERSONAL_USE_ONLY.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-text);
}
/*cabeçalho*/
header{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-quaternary);
    padding: 40px;
    
}
header>h3{
    color: var(--color-primary);
    font-family: var(--font-title);
}
header> nav {
    display: flex;
    gap: 20px;
}
header> nav >a{
    all: unset;
    color: white;
    padding: 10px;
    cursor: pointer;
    /* backdrop-filter: blur(100px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 5px rgb(0, 0, 0); */

}

.content{
    width: 70vw;
    margin: auto;
 
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}
/*benificios*/
.benificios{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.row{
    display: flex;
    justify-content: space-between;
}